/* CONTACT */

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact ul {
    margin-top: 15%;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.1);
}

.content {
    width: 500px;
}

.text {
    margin: 20px 0;
}

.qna {
    background: rgb(255, 255, 255, 0.1);
    padding: 8px;
    margin: 16px;
}

#sendEmail {
    width: 200px;
}

.inputs {
    margin: 5px 0;
    background: rgb(255, 255, 255, 0.1);
    border: solid 2px black;
    padding: 2px;
    border-radius: 2px;
    color: black;
    width: 400px;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

::value {
    color: black;
}

button {
    padding: 2px;
    color: black;
}

textarea {
    width: inherit;
    height: inherit;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

textarea:focus {
    -webkit-transform: scale(2, 2) translate(0, -170px);
    -moz-transform: scale(2, 2) translate(0, -170px);
    -ms-transform: scale(2, 2) translate(0, -170px);
    -o-transform: scale(2, 2) translate(0, -170px);
    transform: scale(2, 2) translate(0, -170px);
    -webkit-box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
    background: rgb(255, 255, 255, 0.8);
    color: black;
    height: 170px;
}