* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../images/pattern1.jpg");
    color: white;
    font-family: Helvetica, sans-serif;
}

nav {
    height: 100px;
    width: 100%;
}

.logoTop {
    height: 100px;
    width: 100px;
}

.navigation li {
    float: left;
}

.navigation li:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
}

.navigation a {
    text-decoration: none;
    color: white;
}